*{
    box-sizing: border-box;
}
header{
	background-color: #BF1363;
	padding: 5px 0;
	display: flex;
	align-items:center;
	justify-content:center;
    margin: 0 auto;
}
picture img {
    width: 180px;
	height: auto;
}

.headings {
	display: flex;
	flex-direction: column;
}

.headings h1 {
	font-size: 3rem;
	margin: 0 0 0 17px;
}
.m {
	font-style: italic;
	letter-spacing: 1pt;
	color: black;
	margin-left: 20px;
	font-size: 1.3rem;
}